.about{
    padding: 0px 0px 60px;
}
.about ul.about-list{
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    font-family: "Poppins";
    color: var(--secondary-color);
    /* color: gray; */
}
