.hero{
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: all .5s;
    background-attachment: fixed;
}
@media screen and (max-width: 769px) {
    .hero{
        height: 400px;
    }
}
