nav {
  /* background: black; */
  box-shadow: inset 0px 0px 250px var(--primary-color);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 30px;
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.nav-link {
  font-size: 16px;
  display: block;
  padding: 10px 10px;
}
.nav-cart * {
  font-size: 24px;
  transition: all 0.1s;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
}

nav a:hover {
  color: var(--secondary-color);
}
a.nav-logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
a.nav-logo img:hover {
  opacity: 0.7;
}
.nav-toggler {
  display: none;
}
.sub-nav-container {
  display: none;
}
footer {
  background: orangered;
  color: white;
  text-align: center;
  padding: 100px;
  font-size: 40px;
  font-family: "Poppins";
}
@media screen and (max-width: 769px) {
    .nav-container{
        padding: 0px 15px;
    }
  .nav-list,
  .nav-cart {
    display: none;
  }
  .nav-toggler {
    display: block;
    background: transparent;
    color: var(--text-color);
    font-size: 30px;
  }
  .sub-nav-container {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    max-width: 60vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    transition: all .5s;
  }
  .sub-nav-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 5px;
  }
  .sub-nav-list li {
    width: 90%;
  }
  .sub-nav-link {
    display: block;
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
  }
  .sub-nav-link:hover {
    box-shadow: inset 0px 0px 50px var(--primary-color);
    color: var(--text-color);
  }
}
